<footer>
    <div class="container-box mt-3 mb-xxl-4 mb-xl-0 mb-0 pb-3">
        <div class="row">
            <div class="col-12 text-center">
                <img class="white-logo" src="./assets/images/white-log.svg" alt="">
            </div>

            <div class="col-12 footer-box text-center py-lg-4 py-2">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                        <h4 class="mb-3">Address</h4>
                        <p class="mb-0">Building No. 123, Education Street</p>
                        <p>Al Sadd District, Doha, Qatar</p>
                    </div>
                    <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                        <h4 class="mb-3">Phone</h4>
                        <p>Mob : +974 1234 5678</p>
                        <p class="mb-0">Land : +974 2345 6789</p>
                    </div>
                    <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                        <h4 class="mb-3">Email</h4>
                        <p class="mb-0">General Inquiries : {{ email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 footer-menu pt-lg-4 pt-2 pb-3">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-lg-0 mb-3 text-lg-start text-center">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <ul>
                                    <li><a href="./index.html">Home</a></li>
                                    <li><a href="./about-us.html">About Us</a></li>
                                    <li><a href="./services.html">Services</a></li>
                                    <li><a href="./career.html">Career</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-6">
                                <ul>
                                    <li><a href="./products.html">Products</a></li>
                                    <li><a href="./blog.html">Blog</a></li>
                                    <li><a href="./contact-us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 mb-lg-0 mb-5 text-center social-media">
                        <h4 class="mb-4">Social Media</h4>
                        <a href="#"><img src="./assets/images/i.svg" alt=""></a>
                        <a href="#"><img src="./assets/images/f.svg" alt=""></a>
                        <a href="#"><img src="./assets/images/x.svg" alt=""></a>
                        <a href="#"><img src="./assets/images/y.svg" alt=""></a>
                        <a href="#"><img src="./assets/images/l.svg" alt=""></a>
                    </div>
                    <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                        <h4 class="mb-4 text-center text-lg-start">Subscribe News Letter</h4>

                        <form class="d-flex subscribe justify-content-lg-start justify-content-center w-100">
                            <div class="col p-0">
                                <label for="inputtext" class="visually-hidden">Password</label>
                                <input type="text" class="form-control" id="inputtext"
                                    placeholder="Type your email">
                            </div>
                            <div class="col-auto p-0 button-m">
                                <button type="submit" class="btn btn-primary mb-3">Subscribe <i
                                        class="fa-solid fa-arrow-up"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-lg-4 pt-2">
                <div class="row footer-content">
                    <div class="col-12 col-lg-6 mb-lg-0  text-center text-lg-start">
                        <p>Designed by <span><a href="https://www.artisans.qa/">artisans</a></span></p>
                    </div>
                    <div class="col-12 col-lg-6 text-center text-lg-end">
                        <p>All rights reserved <span>Ovast Group 2024</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>