<div class="about-banner" style="background: url(assets/images/about-us.png) center top no-repeat;">
    <video #videoPlayer autoplay muted loop class="section-background banner-over">
        <source src="assets/videos/home-v.mp4" type="video/mp4">
    </video>
</div>

<div class="container py-5 pb-0 about-box">
    <div class="row">
        <div class="col-12 mb-4 text-center">
            <h2 class="header-h2 w-50 m-auto"><span>About us: </span> Empowering Change, Inspiring Growth!</h2>
        </div>

        <div class="col-lg-6 col-12">
            <p>OVAST is a research, training, and consulting company specializing in offering up-to-date practical
                solutions for organizational and social development challenges. OVAST strives towards innovating
                sustainable solutions and developing competences within the public, private, and non-profit sectors.
                We do this through research, innovation, training, information dissemination, and quality technical
                advice.</p>
        </div>
        <div class="col-lg-6 col-12">
            <p>At OVAST, we recognize that change is the most constant element in today’s globalized and highly
                dynamic world. For individuals and institutions to perform better at solving individual,
                organizational, and societal challenges, OVAST believes that we must devise new, strategic, and
                creative ways of managing change.</p>
        </div>
    </div>
</div>

<div class="container py-5 pb-0">
    <div class="row">
        <div class="col-12">
            <img class="img-fluid" src="assets/images/About-us-one.png" alt="">
        </div>
    </div>
</div>

<div class="container py-5 pb-0">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="tittle-s">Our Approach</h3>
            <h2 class="header-h2 w-75 m-auto">We have a core team of experts who offer technical knowledge,
                insights, and expertise. <span> We ensure quality control, value for money, and better results for
                    all our assignments.</span>
            </h2>
            <p class="w-75 m-auto text-center mt-3">Our approach is practical, creative, and collaborative. We
                listen and integrate our clients' vast experience in finding practical solutions to their work
                challenges in a dynamic, developing world. Our focus is on clients' needs for practical solutions.
                We maintain a progressive approach, which seeks to incorporate tested and contemporary methods of
                solving day-to-day individual, organizational, and societal challenges in a sustainable manner.</p>
        </div>
    </div>
</div>

<div class="container py-5 pb-4">
    <div class="row">
        <div class="col-lg-6 col-12 mb-4">
            <div class="clint-box clint-box-z h-100 pt-5">
                <img class="pb-3 img-fluid" src="assets/images/mission.png" alt="">
                <h3 class="mb-3">Mission</h3>
                <p class="mb-0">OVAST Consultant Group has been established in the state of Qatar since 2018. Our
                    target is to
                    approach every project by tailoring our services to match your needs. We create and implement
                    new concepts and provide contractual services for the implementation of those concepts, offering
                    strategic guidance to brands, groups, emerging restaurant concepts, investors, landlords, and
                    developers.</p>
            </div>
        </div>
        <div class="col-lg-6 col-12 mb-4">
            <div class="clint-box clint-box-z h-100 pt-5">
                <img class="pb-3 img-fluid" src="assets/images/shared-vision.png" alt="">
                <h3 class="mb-3">Vision</h3>
                <p class="mb-0">Creating and implementing new concepts andprovidingcontractual services forthe
                    implementation of
                    those concepts giving strategic guidanceto brands groups, emerging restaurantconcepts,
                    investors, landlords anddevelopers. </p>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 pt-4">
    <div class="row">
        <div class="col-12">
            <div class="about-bottom-box position-relative">
                <div class="row">
                    <div class="col-lg-6 col-12 about-box-c d-flex flex-column justify-content-end">
                        <h3>Message from Our
                            Founder</h3>
                        <p>With a mission to develop more effective leaders and enhance team and organizational
                            performance, OVAST Consultancy provides total research-based consulting solutions to
                            clients in Qatar. My expert team promises to serve different corporate clients by
                            redefining business strategies, developing leaders to drive change and innovation, and
                            building a change-adaptive culture to sustain organizational growth.</p>
                    </div>
                    <div class="col-lg-6 col-12 about-box-c text-end d-flex flex-column justify-content-end">
                        <h4>Ali Al Alobaidly.</h4>
                        <h5>Founder, Ovast Group</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>