<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content p-xl-4 p-3 pt-xl-0 pt-0">
            <div class="modal-header pb-0 border-0">
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <h2 class="header-h2 pt-0 m-auto">Let’s Talk? <span> Contact Ovast</span></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <p class="m-auto text-center mt-3">We'd love to hear from you! Whether you have a question, 
                            need assistance, or want to learn more about our services, please feel free to reach out.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>