<div class="container container-box">
    <div class="header-banner">
        <img class="img-fluid" src="assets/images/blogs.png" alt="">
    </div>
</div>

<div class="container-box-header container-box container py-5 pb-0">
    <div class="row">
        <div class="col text-center">
            <h2 class="header-h2 w-50 m-auto"><span>
                    Explore Our Insights:</span> Read the Latest Blog Posts
            </h2>
        </div>
    </div>

    <div class="row pt-5 m-auto blog-container-box">
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 news-box-right">
            <div class="d-flex flex-column flex-lg-row gap-3 align-items-center p-2 mb-5 mb-lg-2" href="#">
                <div class="hover-ef position-relative">
                    <img class="img-fluid" src="assets/images/close-up-colleagues-learning-work 41.png" alt="">
                    <a href="./blog-detail-page.html"
                        class="service-link position-absolute justify-content-center align-items-center flex-column d-flex gap-1">
                        <img class="export" src="assets/images/export.svg" alt=""></a>
                </div>
                <div class="col text-center text-lg-start">
                    <a href="./blog-detail-page.html">
                        <h6 class="mb-2">A Deep Dive into Our Approach</h6>
                    </a>
                    <p class="date-news">August 12, 2024</p>
                    <p class="mb-0">Unlock the secrets to staying ahead of the curve and driving success
                        through adaptability.</p>
                </div>
            </div>
        </div>
    </div>
</div>